Repository RoboJackets/apiary, pull requests merged in 2018-11, with the labels that each got.

#535 Fix the attendance report
  resources/assets/js/components/nova/AttendanceReport.vue
Labels: area / nova, type / bug

#538 Fix #536
  resources/assets/js/components/nova/AttendanceReport.vue
Labels: area / nova, type / enhancement

#539 Tweaks to attendance report
  resources/assets/js/components/nova/AttendanceReport.vue
Labels: area / nova, priority / medium, type / enhancement

#542 Job failure notifications
  .env.example
  composer.json
  composer.lock
  config/failed-job-monitor.php
Labels: type / feature

#545 Add shirt size breakdown metric
  app/Nova/DuesPackage.php
  app/Nova/Metrics/ShirtSizeBreakdown.php
Labels: area / nova, type / feature
