Repository RoboJackets/apiary, pull requests merged in 2019-09, with the labels that each got.

#804 Revert Square Connect version
  app/Http/Controllers/PaymentController.php
  composer.json
  composer.lock
Labels: area / backend, priority / critical, type / bug

#814 Fix attendance kiosk admin
  app/Http/Controllers/UserController.php
  resources/js/components/attendance/AttendanceKiosk.vue
Labels: area / API, area / frontend, priority / medium, type / bug

#807 Adds attendance collection in Nova for Teams and Events
  app/Nova/Event.php
  app/Nova/ResourceTools/CollectAttendance.php
  app/Nova/Team.php
  composer.lock
  package-lock.json
  package.json
  resources/js/components/nova/CollectAttendance.vue
  resources/js/nova.js
Labels: area / nova, priority / high, type / feature

#818 Fix attendance report error
  app/Nova/Team.php
Labels: area / nova, priority / medium, type / bug

#819 Give context to Jedi when PushToJedi is run
  app/Jobs/DuesPackageExpiration.php
  app/Jobs/PushToJedi.php
  app/Nova/Actions/SyncAccess.php
  app/Observers/PaymentObserver.php
  app/Observers/UserObserver.php
Labels: area / jedi, type / feature

#820 Only try PushToJedi once
  app/Jobs/PushToJedi.php
Labels: area / jedi, priority / low, type / enhancement

#828 Post team attendance to Slack weekly
  .env.example
  app/Console/Kernel.php
  app/Http/Resources/Team.php
  app/Jobs/WeeklyAttendance.php
  app/Notifications/AttendanceNotification.php
  app/Nova/Team.php
  app/Team.php
  config/services.php
  database/migrations/2019_09_13_104837_add_slack_private_to_teams.php
  phpstan.neon
Labels: area / backend, priority / low, type / feature

#831 Post a daily summary of the previous day's dues payments to Slack
  .env.example
  app/Console/Kernel.php
  app/Jobs/DailyDuesSummary.php
  app/Notifiables/TreasurerNotifiable.php
  app/Notifications/Dues/SummaryNotification.php
  config/services.php
  phpstan.neon
Labels: area / backend, priority / low, type / feature

#836 Misc bugfixes
  app/Nova/Filters/DuesTransactionTeam.php
  app/Nova/Filters/UserActive.php
  app/Nova/Metrics/PrimaryTeam.php
  app/User.php
Labels: area / backend, area / nova, priority / medium, type / bug
