Repository RoboJackets/apiary, pull requests merged in 2019-06, with the labels that each got.

#614 Allow editing of all fields when creating users, for service accounts
  app/Nova/User.php
Labels: area / nova, type / enhancement

#655 Fix Swal invocation
  public/js/recruiting/vue.js
  resources/js/app.js
  resources/js/components/AcceptPayment.vue
  resources/js/components/Datatable.vue
  resources/js/components/RecruitingEditForm.vue
  resources/js/components/UserEditForm.vue
  resources/js/components/attendance/AttendanceExport.vue
  resources/js/components/attendance/AttendanceKiosk.vue
  resources/js/components/attendance/AttendanceManualAdd.vue
  resources/js/components/dues/Demographics.vue
  resources/js/components/dues/DuesAdditionalInfo.vue
  resources/js/components/dues/DuesRequiredInfo.vue
  resources/js/components/dues/DuesSequence.vue
  resources/js/components/dues/DuesTransaction.vue
  resources/js/components/dues/SafetyAgreement.vue
  resources/js/components/events/EventCreateForm.vue
  resources/js/components/events/EventEditForm.vue
  resources/js/components/fields/UserLookup.vue
  resources/js/components/notification/templates/NotificationTemplatesCreateForm.vue
  resources/js/components/notification/templates/NotificationTemplatesEditForm.vue
  resources/js/components/swag/DistributeSwag.vue
  resources/js/components/swag/SwagTransaction.vue
  resources/js/components/teams/TeamCreateForm.vue
  resources/js/components/teams/TeamEditForm.vue
  resources/js/components/teams/TeamInviteModal.vue
  resources/js/components/teams/TeamMembershipButton.vue
  resources/js/components/wrappers/AttendanceModal.vue
  resources/views/attendance/kiosk.blade.php
  resources/views/layouts/app.blade.php
Labels: area / frontend, priority / high, status / code review, type / bug

#653 Allow editing GTIDs too
  app/Nova/User.php
Labels: area / nova, type / bug

#667 Fix Nova metrics
  app/Nova/Metrics/MemberSince.php
  app/Nova/Metrics/PrimaryTeam.php
  app/Nova/Metrics/SwagPickupRate.php
  app/Nova/Metrics/TextMetric.php
  resources/js/components/nova/TextMetric.vue
  resources/js/nova.js
Labels: area / nova, type / bug

#668 Fix Make a Wish
  .gitignore
  resources/js/components/nova/MakeAWishCard.vue
  resources/views/vendor/nova/partials/footer.blade.php
  resources/views/vendor/nova/partials/user.blade.php
Labels: area / nova, type / enhancement

#680 Fix Nova filters
  app/Nova/Filters/DateFrom.php
  app/Nova/Filters/DateTo.php
  composer.json
  composer.lock
Labels: area / nova, type / bug

#681 Nova attendance export
  app/Nova/Actions/ExportAttendance.php
  app/Nova/Attendance.php
  phpstan.neon
Labels: area / nova, priority / high, type / feature

#683 Disable action log for attendance export action
  app/Nova/Actions/ExportAttendance.php
Labels: area / nova, type / enhancement
