Repository RoboJackets/apiary, pull requests merged in 2019-10, with the labels that each got.

#838 Add global weekly attendance report
  .env.example
  app/Jobs/WeeklyAttendance.php
  app/Notifiables/CoreNotifiable.php
  app/Notifications/GlobalAttendanceNotification.php
  app/Notifications/TeamAttendanceNotification.php
  config/services.php
Labels: area / backend, priority / low, type / feature

#837 Fix #834
  app/Nova/Filters/UserAccessActive.php
  app/Nova/User.php
Labels: area / nova, priority / low, type / feature

#839 Add profile link to Nova user dropdown
  resources/views/vendor/nova/partials/user.blade.php
Labels: area / nova, priority / low, type / feature

#840 Send last attendance date to Jedi and sync necessary users daily
  app/Console/Kernel.php
  app/Jobs/NoAttendanceJediPush.php
  app/Jobs/PushToJedi.php
  phpstan.neon
Labels: area / jedi, priority / medium, type / feature

#841 Add Nova action for sending NotificationTemplates to Users
  app/Nova/Actions/SendNotification.php
  app/Nova/User.php
Labels: area / nova, priority / low, type / feature

#856 Fix global attendance report
  app/Jobs/DailyDuesSummary.php
  app/Jobs/WeeklyAttendance.php
  app/Notifications/GlobalAttendanceNotification.php
Labels: area / backend, priority / critical, type / bug

#873 Fix #872
  app/Nova/Actions/SendNotification.php
Labels: area / nova, priority / medium, type / bug

#880 Fix #879
  app/Nova/Filters/Attendable.php
Labels: area / nova, priority / low, type / bug

#881 Add card for access override status
  app/Http/Controllers/DashboardController.php
  resources/views/welcome.blade.php
Labels: area / frontend, priority / low, type / feature

#887 Add event RSVP link to Nova
  app/Nova/Event.php
  routes/web.php
Labels: area / nova, priority / low, type / feature

#890 Use reason 'manual_batch' for Nova JEDI sync for >1 user
  app/Nova/Actions/SyncAccess.php
Labels: area / jedi, priority / low, type / enhancement

#892 Fix #272
  app/Nova/Actions/ExportContactInfo.php
  app/Nova/User.php
Labels: area / nova, priority / medium, type / feature

#897 Fix #894
  app/Http/Controllers/NotificationController.php
Labels: area / email, priority / low, type / bug

#908 Add Nova email export
  app/Nova/Actions/ExportEmails.php
  app/Nova/User.php
  phpmd.xml
Labels: area / nova, priority / medium, type / feature

#910 Deployment improvements
  .editorconfig
  app/Console/Kernel.php
  config/bugsnag.php
  post-deploy-hook.sh
  pre-deploy-hook.sh
Labels: area / devOps, priority / low, type / feature

#909 Add several CAS session checks before authenticating users
  .env.example
  .gitignore
  app/Http/Middleware/CASAuthenticate.php
  composer.json
  composer.lock
  config/cas.php
  renovate.json
Labels: area / frontend, priority / critical, type / feature

#913 Show survey responses on RecruitingVisits
  app/Nova/RecruitingVisit.php
Labels: area / nova, priority / low, type / feature

#916 Resume book
  .circleci/config.yml
  README.md
  app/Http/Controllers/DashboardController.php
  app/Http/Controllers/ResumeBookController.php
  app/Http/Controllers/ResumeController.php
  app/Http/Requests/StoreResumeRequest.php
  app/Http/Resources/User.php
  app/Jobs/GenerateResumeBook.php
  app/Nova/Actions/GenerateResumeBook.php
  app/Nova/User.php
  app/User.php
  composer.json
  composer.lock
  config/ldap.php
  database/migrations/2019_10_20_193423_add_resume_permissions.php
  database/migrations/2019_10_20_213006_add_resumes_to_users.php
  phpstan.neon
  resources/js/app.js
  resources/js/components/ResumeUploadForm.vue
  resources/views/layouts/app.blade.php
  resources/views/privacy.blade.php
  resources/views/users/resumeupload.blade.php
  resources/views/welcome.blade.php
  routes/api.php
  routes/web.php
Labels: area / API, area / frontend, area / nova, priority / high, type / feature

#929 Add attendance observer for Jedi pushes
  app/Observers/AttendanceObserver.php
  app/Providers/AppServiceProvider.php
Labels: area / jedi, priority / high, type / bug

#928 Fix #927
  app/Http/Controllers/DashboardController.php
  app/Http/Resources/User.php
  app/Nova/User.php
  database/migrations/2019_10_23_171828_add_github_invite_pending_to_users.php
  resources/views/welcome.blade.php
Labels: area / API, area / frontend, area / nova, priority / medium, type / feature

#931 Support linking Google accounts
  .env.example
  app/Http/Controllers/GoogleController.php
  app/Http/Resources/Team.php
  app/Http/Resources/User.php
  app/Jobs/PushToJedi.php
  app/Nova/Team.php
  app/Nova/User.php
  config/services.php
  database/migrations/2019_10_24_173744_add_gmail_address_to_users.php
  database/migrations/2019_10_26_005612_add_google_group_to_team.php
  resources/js/components/UserEditForm.vue
  routes/web.php
Labels: area / frontend, priority / medium, type / feature

#930 Fix #904
  resources/js/components/attendance/AttendanceKiosk.vue
Labels: area / frontend, priority / medium, type / enhancement

#934 Display a card on the dashboard if the user isn't in SUMS
  app/Http/Controllers/AttendanceController.php
  app/Http/Controllers/DashboardController.php
  app/Http/Controllers/SUMSController.php
  app/Http/Requests/UpdateUserRequest.php
  app/Http/Resources/User.php
  app/Jobs/PushToJedi.php
  app/Nova/User.php
  config/sums.php
  database/migrations/2019_10_27_172503_add_exists_in_sums_flag_to_users.php
  resources/views/sums.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: area / frontend, area / jedi, priority / low, type / feature

#937 Redirect user to GitHub after linking
  app/Http/Controllers/GitHubController.php
Labels: area / frontend, priority / low, type / feature

#941 Use GitHub Actions instead of CircleCI
  .circleci/config.yml
  .github/workflows/ci.yml
Labels: area / devOps, priority / low, type / enhancement
