Repository RoboJackets/apiary, pull requests merged in 2020-08, with the labels that each got.

#1282 Do not display the start time of an event on the RSVP confirmation view
  resources/views/rsvp/confirmation.blade.php
Labels: area / frontend, priority / critical

#1301 Fix user agent width
  app/Http/Controllers/RsvpController.php
  database/migrations/2020_08_19_173728_extend_rsvp_user_agent.php
Labels: area / API, area / database, priority / low, type / bug

#1319 Fix Nova on Vapor by using asset()
  NovaOnVaporMonkeyPatch.php
  app/Providers/NovaServiceProvider.php
  composer.json
Labels: area / nova, priority / high, type / bug

#1323 Add health check
  composer.json
  composer.lock
  config/healthcheck.php
Labels: area / devOps, priority / low, type / feature
