Repository RoboJackets/apiary, pull requests merged in 2020-03, with the labels that each got.

#1124 Make teams with names starting with Robo wider
  resources/js/components/attendance/AttendanceKiosk.vue
Labels: area / frontend, priority / low, type / enhancement

#1137 Model changes for GTED integrations
  app/DuesPackage.php
  app/DuesTransaction.php
  app/Event.php
  app/Http/Middleware/CASAuthenticate.php
  app/Major.php
  app/NotificationTemplate.php
  app/Nova/Major.php
  app/Nova/Metrics/ActiveStudentsInMajor.php
  app/Nova/Metrics/MajorsMissingDisplayNames.php
  app/Nova/Metrics/StudentsInMajor.php
  app/Nova/Metrics/TotalMajors.php
  app/Nova/User.php
  app/Payment.php
  app/Policies/MajorPolicy.php
  app/Policies/UserPolicy.php
  app/Providers/AuthServiceProvider.php
  app/RecruitingCampaign.php
  app/RecruitingCampaignRecipient.php
  app/RecruitingResponse.php
  app/RecruitingVisit.php
  app/Rsvp.php
  app/Team.php
  app/Traits/CreateOrUpdateCASUser.php
  app/User.php
  config/cas.php
  database/migrations/2020_01_12_160642_add_clickup_fields_to_users.php
  database/migrations/2020_03_15_111618_create_majors_table.php
  database/migrations/2020_03_15_112429_create_major_user_table.php
  database/migrations/2020_03_15_122454_add_metadata_fields_to_users.php
  phpstan.neon
Labels: area / backend, priority / high, type / feature

#1147 Skip users who have never logged in in PushToJedi
  app/Jobs/PushToJedi.php
  app/User.php
Labels: area / jedi, priority / low, type / enhancement

#1150 Add class standings
  app/ClassStanding.php
  app/Jobs/CreateOrUpdateUserFromBuzzAPI.php
  app/Nova/ClassStanding.php
  app/Nova/Filters/UserActive.php
  app/Nova/User.php
  app/Policies/ClassStandingPolicy.php
  app/Policies/UserPolicy.php
  app/Traits/CreateOrUpdateCASUser.php
  app/User.php
  database/migrations/2020_03_21_144319_create_class_standings_table.php
  database/migrations/2020_03_21_144337_create_class_standing_user_table.php
  database/migrations/2020_03_21_150221_make_gtad_group_names_unique.php
  phpstan.neon
Labels: area / database, priority / low, type / feature

#1151 Add more specific create_reasons
  app/Jobs/CreateOrUpdateUserFromBuzzAPI.php
  app/Jobs/DuesPackageExpiration.php
  app/Jobs/NoAttendanceJediPush.php
  app/Nova/Actions/RefreshFromGTED.php
  app/Nova/User.php
  app/Observers/AttendanceObserver.php
  app/Observers/DuesPackageObserver.php
  app/Observers/PaymentObserver.php
  app/Observers/UserObserver.php
Labels: area / backend, priority / low, type / enhancement

#1152 Add groups to all Nova resources
  app/Nova/Attendance.php
  app/Nova/ClassStanding.php
  app/Nova/DuesPackage.php
  app/Nova/DuesTransaction.php
  app/Nova/Event.php
  app/Nova/Major.php
  app/Nova/NotificationTemplate.php
  app/Nova/RecruitingVisit.php
  app/Nova/Team.php
  app/Nova/User.php
Labels: area / nova, priority / low, type / enhancement

#1153 Remote attendance
  app/Http/Controllers/RemoteAttendanceController.php
  app/Nova/Actions/ResetRemoteAttendance.php
  app/Nova/Team.php
  app/Team.php
  database/migrations/2020_03_21_170153_grant_team_leads_permission_to_create_attendance.php
  database/migrations/2020_03_21_170412_add_remote_attendance_fields_to_teams_table.php
  resources/views/attendance/remote.blade.php
  routes/web.php
Labels: area / nova, priority / critical, type / feature
