Repository RoboJackets/apiary, pull requests merged in 2020-12, with the labels that each got.

#1481 Laravel Fixer
  app/Http/Controllers/AttendanceController.php
  app/Http/Controllers/AutodeskLibraryController.php
  app/Http/Controllers/ClickUpController.php
  app/Http/Controllers/DashboardController.php
  app/Http/Controllers/RedirectController.php
  app/Http/Controllers/SUMSController.php
  app/Http/Controllers/TeamController.php
  app/Http/Requests/SearchAttendanceRequest.php
  app/Http/Requests/SendNotificationManualNotificationRequest.php
  app/Http/Requests/StatisticsAttendanceRequest.php
  app/Http/Requests/StoreAttendanceRequest.php
  app/Http/Requests/StoreDuesPackageRequest.php
  app/Http/Requests/StoreDuesTransactionRequest.php
  app/Http/Requests/StoreEventRequest.php
  app/Http/Requests/StoreNotificationTemplateRequest.php
  app/Http/Requests/StorePaymentRequest.php
  app/Http/Requests/StorePermissionRequest.php
  app/Http/Requests/StoreRecruitingCampaignRecipientRequest.php
  app/Http/Requests/StoreRecruitingCampaignRequest.php
  app/Http/Requests/StoreRecruitingVisitRequest.php
  app/Http/Requests/StoreResumeRequest.php
  app/Http/Requests/StoreRoleRequest.php
  app/Http/Requests/StoreTeamRequest.php
  app/Http/Requests/StoreUserRequest.php
  app/Http/Requests/UpdateAttendanceRequest.php
  app/Http/Requests/UpdateDuesPackageRequest.php
  app/Http/Requests/UpdateDuesTransactionRequest.php
  app/Http/Requests/UpdateEventRequest.php
  app/Http/Requests/UpdateMembersTeamRequest.php
  app/Http/Requests/UpdateNotificationTemplateRequest.php
  app/Http/Requests/UpdatePaymentRequest.php
  app/Http/Requests/UpdateRecruitingCampaignRecipientRequest.php
  app/Http/Requests/UpdateRecruitingVisitRequest.php
  app/Http/Requests/UpdateTeamRequest.php
  app/Http/Requests/UpdateUserRequest.php
  app/Jobs/PushToJedi.php
  app/Models/AttendanceExport.php
  app/Models/ClassStanding.php
  app/Models/DuesPackage.php
  app/Models/DuesTransaction.php
  app/Models/Event.php
  app/Models/Major.php
  app/Models/Team.php
  app/Models/User.php
  app/Nova/Metrics/PaymentMethodBreakdown.php
  app/Nova/Metrics/RsvpSourceBreakdown.php
  app/Providers/AppServiceProvider.php
  app/Providers/RouteServiceProvider.php
  database/migrations/2020_12_06_144015_namespace_models.php
  phpstan.neon
  routes/api.php
  routes/web.php
Labels: area / devOps, priority / medium, type / technical debt

#1512 Rebuild Square integration
  app/Http/Controllers/PaymentController.php
  app/Http/Controllers/RedirectController.php
  app/Http/Controllers/SquareCheckoutController.php
  app/Http/Requests/SquareCompleteRequest.php
  app/Jobs/ProcessSquareWebhook.php
  app/Models/Payment.php
  app/Nova/Payment.php
  app/SignatureValidators/Square.php
  composer.json
  composer.lock
  config/horizon.php
  config/payment.php
  config/square.php
  config/webhook-client.php
  database/migrations/2020_12_22_105909_create_webhook_calls_table.php
  database/migrations/2020_12_22_133750_add_order_id_column_to_payments_table.php
  database/migrations/2020_12_23_103221_add_additional_transaction_fields_to_payments.php
  phpstan.neon
  renovate.json
  resources/js/components/PaymentInstructions.vue
  resources/js/components/dues/SafetyAgreement.vue
  resources/views/mail/dues/requestcomplete.blade.php
  resources/views/square/error.blade.php
  resources/views/square/processing.blade.php
  resources/views/welcome.blade.php
  routes/api.php
  routes/web.php
Labels: area / backend, priority / high, type / technical debt

#1516 FiscalYear + DuesPackage model changes
  app/Http/Controllers/DashboardController.php
  app/Http/Controllers/DuesPackageController.php
  app/Http/Middleware/CASAuthenticate.php
  app/Models/DuesPackage.php
  app/Models/FiscalYear.php
  app/Nova/Actions/CreateDuesPackages.php
  app/Nova/DuesPackage.php
  app/Nova/DuesTransaction.php
  app/Nova/FiscalYear.php
  app/Policies/FiscalYearPolicy.php
  app/Traits/CreateOrUpdateCASUser.php
  database/migrations/2020_12_23_151528_create_fiscal_years_table.php
  database/migrations/2020_12_23_152158_add_fiscal_year_and_affiliation_restriction_to_dues_packages.php
  database/migrations/2020_12_24_104642_add_fiscal_year_permissions.php
  phpstan.neon
  resources/js/components/dues/DuesRequiredInfo.vue
  routes/api.php
Labels: area / database, priority / high, type / feature

#1522 Add FiscalYear to the Dues group in Nova
  app/Nova/FiscalYear.php
Labels: area / nova, priority / low, type / enhancement

#1519 Historical dues and transaction data import
  app/Console/Commands/ImportHistoricalDues.php
  app/Console/Commands/ImportSquareCashTransactions.php
  app/Console/Commands/ImportSquareTransactions.php
  app/Console/Commands/MatchSquareCashTransactions.php
  app/Console/Commands/MatchSquareTransactions.php
  app/Http/Controllers/SquareCheckoutController.php
  app/Imports/HistoricalDues.php
  app/Imports/SquareCashTransactions.php
  app/Imports/SquareTransactions.php
  app/Jobs/CreateOrUpdateUserFromBuzzAPI.php
  app/Models/DuesPackage.php
  app/Models/DuesTransaction.php
  app/Models/Payment.php
  app/Models/SquareCashTransaction.php
  app/Models/SquareTransaction.php
  app/Nova/Actions/CreateDuesPackages.php
  app/Nova/Actions/DistributePolo.php
  app/Nova/Actions/DistributeShirt.php
  app/Nova/Payment.php
  composer.json
  composer.lock
  database/migrations/2020_12_24_140423_create_square_cash_transactions_table.php
  database/migrations/2020_12_24_143602_create_square_transactions_table.php
  database/migrations/2020_12_25_144655_update_payments_table_for_historical_dues_import.php
  phpstan.neon
Labels: area / database, priority / low, type / feature

#1528 FiscalYear metrics
  .gitignore
  .phan/config.php
  app/Http/Controllers/DashboardController.php
  app/Http/Controllers/UserController.php
  app/Nova/DuesPackage.php
  app/Nova/FiscalYear.php
  app/Nova/Metrics/DuesRevenueByFiscalYear.php
  app/Nova/Metrics/MemberSince.php
  app/Nova/Metrics/MembersByFiscalYear.php
  app/Nova/Metrics/PaymentMethodBreakdown.php
  app/Nova/Metrics/PaymentsPerDay.php
  app/Nova/Metrics/ShirtSizeBreakdown.php
  app/Nova/Metrics/SwagPickupRate.php
  app/Nova/Metrics/TotalCollections.php
  app/Nova/Traits/DuesPackageCards.php
  app/Providers/NovaServiceProvider.php
  phpstan.neon
Labels: area / nova, priority / low, type / feature
