Repository RoboJackets/apiary, pull requests merged in 2020-10, with the labels that each got.

#1357 Necessary changes for on-prem deploys again
  .phan/config.php
  app/Console/Kernel.php
  app/DuesPackage.php
  app/Events/PaymentSuccess.php
  app/Http/Controllers/DashboardController.php
  app/Http/Middleware/APITokenAuthenticate.php
  app/Http/Middleware/CASAuthenticate.php
  app/Http/Middleware/CASCheck.php
  app/Jobs/CreateOrUpdateUserFromBuzzAPI.php
  app/Jobs/DailyDuesSummary.php
  app/Jobs/DuesPackageSync.php
  app/Jobs/GenerateResumeBook.php
  app/Jobs/NoAttendanceJediPush.php
  app/Jobs/PushToJedi.php
  app/Jobs/WeeklyAttendanceEmail.php
  app/Jobs/WeeklyAttendanceSlack.php
  app/Mail/Attendance/Report.php
  app/Mail/DatabaseMailable.php
  app/Mail/Dues/RequestComplete.php
  app/Mail/GeneralInterestInvite.php
  app/Mail/Payment/Confirmation.php
  app/Notifications/DatabaseNotification.php
  app/Notifications/Dues/RequestCompleteNotification.php
  app/Notifications/Payment/ConfirmationNotification.php
  app/Notifications/WeeklyAttendanceEmailConfirmation.php
  app/Nova/Filters/Attendable.php
  app/Nova/Metrics/ActiveAttendanceBreakdown.php
  app/Nova/Metrics/FieldByActiveBreakdown.php
  app/Nova/Metrics/MajorDemographicsBreakdown.php
  app/Nova/Metrics/ShirtSizeBreakdown.php
  app/Nova/Metrics/SwagPickupRate.php
  app/Observers/DuesPackageObserver.php
  app/Observers/UserObserver.php
  app/Payment.php
  app/Providers/AppServiceProvider.php
  app/RecruitingVisit.php
  app/Traits/CreateOrUpdateCASUser.php
  composer.json
  composer.lock
  config/bugsnag.php
  config/horizon.php
  config/queue.php
  config/vapor-queue-names.php
  database/migrations/2017_11_04_220944_encrypt_users_table.php
  package-lock.json
  package.json
  post-deploy-hook.sh
  pre-deploy-hook.sh
  renovate.json
  resources/views/layouts/app.blade.php
  vapor.yml
Labels: area / devOps, priority / critical

#1385 Do not give the option for setting the time in the override access action
  app/Nova/Actions/OverrideAccess.php
  phpstan.neon
Labels: area / nova, priority / low, type / enhancement

#1390 Add From field to notification templates
  app/Http/Controllers/NotificationTemplateController.php
  app/Http/Resources/NotificationTemplate.php
  app/Mail/DatabaseMailable.php
  app/Nova/NotificationTemplate.php
  database/migrations/2020_10_01_165256_add_from_to_notification_templates.php
Labels: area / email, priority / high, type / feature

#1393 Reorder panels on users
  app/Nova/User.php
Labels: area / nova, priority / low, type / enhancement

#1395 Add flag for hiding teams on kiosk and sort teams better
  app/Http/Controllers/TeamController.php
  app/Http/Requests/StoreTeamRequest.php
  app/Http/Requests/UpdateTeamRequest.php
  app/Http/Resources/Team.php
  app/Nova/Team.php
  database/migrations/2020_10_03_142928_add_kiosk_flag_to_teams.php
  database/seeds/TeamsSeeder.php
  resources/js/components/attendance/AttendanceKiosk.vue
  resources/js/components/dues/DuesSequence.vue
  resources/js/components/nova/AttendanceReport.vue
  routes/web.php
Labels: area / database, area / frontend, priority / low, type / feature

#1399 Improve the JEDI dashboard
  app/Nova/Dashboards/JEDI.php
  app/Nova/Metrics/AccessActiveMembers.php
  app/Providers/NovaServiceProvider.php
Labels: area / nova, priority / low, type / feature

#1406 Extend remote attendance time; fix attendance export permissions
  app/Nova/Actions/ResetRemoteAttendance.php
  app/Nova/Attendance.php
Labels: area / nova, priority / low, type / bug

#1411 Add more health checks
  composer.json
  composer.lock
  config/healthcheck.php
Labels: area / devOps, priority / low, type / enhancement

#1414 Require appropriate permissions to show and store resumes
  app/Http/Controllers/ResumeController.php
Labels: area / API, priority / critical, type / bug

#1413 Misc fixes
  app/Jobs/GenerateResumeBook.php
  app/Nova/Actions/GenerateResumeBook.php
  app/Nova/Actions/SendNotification.php
  app/Nova/User.php
  resources/views/vendor/nova/partials/user.blade.php
Labels: area / email, area / nova, priority / medium, type / enhancement

#1443 Improved BuzzAPI health checks
  config/healthcheck.php
Labels: area / devOps, priority / medium, type / enhancement

#1445 Revert "Merge pull request #1421 from RoboJackets/ross/fix-currency"
  app/Nova/Actions/AddPayment.php
  app/Nova/DuesPackage.php
  app/Nova/DuesTransaction.php
  app/Nova/Event.php
  app/Nova/Fields/Currency.php
  app/Nova/Payment.php
Labels: area / nova, priority / low, type / technical debt
