Repository RoboJackets/apiary, pull requests merged in 2022-02, with the labels that each got.

#2293 Fix RAL creation with no redirect
  app/Nova/Actions/CreateRemoteAttendanceLink.php
Labels: priority / medium, type / bug, area / nova

#2307 Add accounting fields to TARs
  app/Models/TravelAssignment.php
  app/Nova/Travel.php
  config/docusign.php
  database/migrations/2022_02_05_162204_add_accounting_fields_to_travel.php
Labels: area / backend, priority / high, type / feature

#2339 Stop users from entering today in resume book export
  app/Nova/Actions/ExportResumes.php
Labels: priority / low, type / enhancement, area / nova
